.square {
	background: #fff;
	border: 1px solid #999;
	font-size: 24px;
	width: 100px;
	height: 100px;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
}
